---
# Map-related styles
---
#main-content {
  #map {
    height: 500px;
    width: 100%;

    #loader-container {
      position: relative;
      height: 100%;
      width: 100%;
      background: white;
      z-index: 99999;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: auto;
      }
    }

    .control {
      background: white;
      padding: 5px;
      box-shadow: black 1px 1px 5px;
    }
    .info {
      padding: 10px;
      text-align: right;
      .info-name {
        margin-bottom: 0;
      }
      .info-value {
        font-size: large;
      }
    }

    .legend {
      line-height: 18px;
      color: #555;
    }
    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
  }
}
