#main-content #map {
  height: 500px;
  width: 100%; }
  #main-content #map #loader-container {
    position: relative;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center; }
    #main-content #map #loader-container img {
      height: auto; }
  #main-content #map .leaflet-control .timecontrol-date {
    min-width: 80px;
    padding: 0 10px; }
  #main-content #map .selection-legend {
    background-color: rgba(150, 150, 150, 0.6);
    padding: 0;
    width: 300px; }
    #main-content #map .selection-legend .legend-swatches {
      height: 10px; }
      #main-content #map .selection-legend .legend-swatches .legend-swatch {
        display: block;
        float: left;
        height: 10px; }
    #main-content #map .selection-legend .legend-values {
      position: absolute;
      bottom: -10px;
      width: 100%; }
      #main-content #map .selection-legend .legend-values .arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        top: -10px;
        z-index: 1; }
        #main-content #map .selection-legend .legend-values .arrow.left {
          border-width: 20px 0 0 20px;
          border-color: transparent transparent transparent white;
          left: 0; }
        #main-content #map .selection-legend .legend-values .arrow.right {
          border-width: 0 0 20px 20px;
          border-color: transparent transparent white transparent;
          right: 1px;
          box-shadow: 1px 1px 1px 0px #666; }
      #main-content #map .selection-legend .legend-values .legend-value {
        padding: 0 4px;
        background: white;
        position: absolute;
        z-index: 2;
        box-shadow: 1px 1px 1px 0px #666; }
        #main-content #map .selection-legend .legend-values .legend-value.left {
          left: 0; }
        #main-content #map .selection-legend .legend-values .legend-value.right {
          right: 1px; }
    #main-content #map .selection-legend #selection-list {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0; }
      #main-content #map .selection-legend #selection-list li {
        position: relative;
        margin-top: 3px;
        cursor: pointer;
        height: 23px; }
        #main-content #map .selection-legend #selection-list li:first-child {
          margin-top: 0; }
        #main-content #map .selection-legend #selection-list li .selection-bar, #main-content #map .selection-legend #selection-list li .selection-name, #main-content #map .selection-legend #selection-list li .selection-value {
          height: 23px;
          position: absolute; }
        #main-content #map .selection-legend #selection-list li .selection-bar {
          border-radius: 2px 0 0 2px;
          background: white;
          z-index: 1; }
        #main-content #map .selection-legend #selection-list li .selection-name {
          z-index: 2;
          padding: 3px 20px 3px 3px; }
        #main-content #map .selection-legend #selection-list li.no-value .selection-name {
          background: repeating-linear-gradient(45deg, #FFF, #FFF 2px, #CCC 2px, #CCC 4px); }
        #main-content #map .selection-legend #selection-list li.no-value .selection-bar, #main-content #map .selection-legend #selection-list li.no-value .selection-value {
          display: none; }
        #main-content #map .selection-legend #selection-list li .selection-value {
          z-index: 2;
          margin-right: 5px;
          background-color: #ddd;
          padding: 3px;
          border-radius: 2px; }
        #main-content #map .selection-legend #selection-list li .selection-close {
          top: 6px;
          right: 5px;
          position: absolute;
          z-index: 3; }
