#main-content #map {
  height: 500px;
  width: 100%; }
  #main-content #map #loader-container {
    position: relative;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center; }
    #main-content #map #loader-container img {
      height: auto; }
  #main-content #map .leaflet-control .timecontrol-date {
    min-width: 80px;
    padding: 0 10px; }
  #main-content #map .info {
    background-color: rgba(150, 150, 150, 0.5);
    padding: 0;
    text-align: right;
    width: 300px; }
    #main-content #map .info .legend {
      height: 12px; }
      #main-content #map .info .legend .info-swatch {
        width: 10%;
        display: block;
        float: left;
        height: 10px; }
    #main-content #map .info .feature-list {
      list-style: none;
      margin-bottom: 5px; }
      #main-content #map .info .feature-list li {
        position: relative;
        margin-top: 3px;
        height: 25px; }
        #main-content #map .info .feature-list li .info-bar {
          position: absolute;
          right: 0;
          border-radius: 2px 0 0 2px;
          background: white;
          z-index: 1;
          height: 23px; }
        #main-content #map .info .feature-list li .info-name {
          position: absolute;
          right: 0;
          z-index: 2;
          padding: 3px; }
          #main-content #map .info .feature-list li .info-name.info-no-value {
            background: repeating-linear-gradient(45deg, #FFF, #FFF 2px, #CCC 2px, #CCC 4px); }
        #main-content #map .info .feature-list li .info-value {
          position: absolute;
          z-index: 2;
          margin-right: 5px;
          background-color: #ddd;
          padding: 3px;
          border-radius: 2px; }
